.detail {
    padding-left: 50px;
    padding-top: 30px;
    background-color: #e7f0f2;
    width: 1400px;
    color: #000;
    padding-bottom: 30px;
    margin-bottom: 60px;
    margin: 0 auto;
    margin-top: 20px;
    &-main {
        display: flex;
        width: 1100px;
    }
    &-img {
        width: 450px;
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
    }
    &-desc {
        padding-left: 40px;
    }
    &-name {
        color: #000;
        padding-bottom: 14px;
        font-size: 30px;
        font-weight: 500;
    }
    &-price {
        padding-bottom: 14px;
        color: #000;
        font-size: 20px;
        font-weight: 400;
    }
    &-info {
        padding-bottom: 14px;
        color: #000;
        font-size: 20px;
        font-weight: 400;
    }
    &-btn {
        margin-top: 20px;
    }
    &-add {
        background-color: #383940;
        color: #fff;
        padding: 10px 20px;
        margin-right: 20px;
        cursor: pointer;
        border-radius: 10px;
        border: solid 1px #38f2af;
        &:hover {
            color: #000;
            background-color: #c9c3c3;
        }
    }
    &-buy {
        color: #fff;
        padding: 10px 20px;
        background-color: #383940;
        border-radius: 10px;
        border: solid 1px #38f2af;
        cursor: pointer;
        &:hover {
            color: #000;
            background-color: #c9c3c3;
        }
    }
    &-title {
        text-align: center;
        color: #000;
        font-size: 40px;
        margin-top: 20px;
    }
}
