.footer {
    color: #fff;
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #999;
    margin-top: 140px;
    background-color: #e4e3e4;
    &-footer {
        display: flex;
        align-items: center;
        transform: translateX(-25px);
        padding-bottom: 20px;
    }
    &-main {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &-title {
        padding-bottom: 30px;
    }
    &-item {
        padding: 4px;
    }
    &-icon {
        margin: 0 auto;
        color: #000;
        width: 25px;
        height: 25px;
    }
}