.header {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 20px;
    &-left {
        display: flex;
        align-items: center;
        width: 250px;
    }
    &-title {
        transform: translateX(-15px);
        font-weight: 500;
        font-size: 18px;
    }
    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 1px solid #383940;
    }
    &-logo {
        width: 67px;
        height: 27px;
        cursor: pointer;
    }
    &-dashboard {
        display: flex;
        align-items: center;
    }
    &-item {
        padding-right: 40px;
        cursor: pointer;
        z-index: 1;
        position: relative;
        font-size: inherit;
        text-transform: uppercase;
        font-family: inherit;
        color: #000;
        padding: 0.5em 1em;
        outline: none;
        border: none;
        overflow: hidden;
        transition: color 0.4s ease-in-out;
        background-color: #fff;
        &:before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 100%;
            right: 100%;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: #E7F0F2;
            transform-origin: center;
            transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
            transition: transform 0.45s ease-in-out;
        }
        &:hover {
            cursor: pointer;
            color: #161616;
        }
        &:hover::before {
            transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
        }
    }
    &-container {
        position: relative;
    }
    // &-input {
    //     background-color: #373943;
    //     border-radius: 10px;
    //     width: 322px;
    //     height: 42px;
    //     color: #fff;
    //     padding-left: 42px;
    //     font-size: 14px;
    //     font-weight: 400px;
    // }
    // &-search {
    //     position: absolute;
    //     left: 18px;
    //     top: 15px;
    // }
    &-right {
        text-align: center;
        align-items: center;
    }
    &-holder {
        position: absolute;
        left: 57px;
        top: 11px;
        text-align: center;
        font-weight: 400;
        color: #F2F2F2;
        font-size: 14px;
    }
    &-icon {
        background-color: #373943;
        width: 20px;
        height: 20px;
        padding: 7.5px;
        margin: 5px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        &:hover {
            color: #38F2AF;
        }
        color: #fff;
        text-decoration: none;
    }
    // &-user {
    //     display: flex;
    //     align-items: center;
    // }
    &-user {
        text-align: center;
        color: #000;
        &-icon {
            padding-top: 2px;
            width: 21px;
            height: 21px;
        }
        &-name {
            color: #000;
        }
    }
    &-avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            color: #38F2AF;
        }
    }
    &-name {
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        &:hover {
            color: #38F2AF;
        }
    }
}

.header-input:focus .header-holder {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    &-header {
        color: #000;
        font-weight: 700;
        font-size: 36px;
        padding-left: 10px;
    }
    &-right {
        position: relative;
    }
    &-input {
        font-size: 12px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #C4C4C4;
        line-height: 36px;
        width: 210px;
        padding-left: 20px;
    }
    &-icon2 {
        color: #000;
        width: 21px;
        height: 21px;
        position: absolute;
        right: 20px;
        top: 9px;
    }
    &-cart {
        color: #000;
        width: 25px;
        height: 25px;
        padding-right: 20px;
        cursor: pointer;
    }
}

.signup {
    transform: translateX(60px);
}

.signin {
    transform: translateX(-10px);
}