.hero {
    background-color: #2b2c33;
    width: 100%;
    &-graphics {
        background-color: #2b2c33;
        padding-left: 16px;
    }
    &-btn {
        display: flex;
        align-items: center;
    }
    &-heading {
        padding-top: 44px;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 24px;
    }
    &-recent {
        color: #38F2AF;
        background-color: #373943;
        margin-right: 12px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding-right: 12px;
    }
    &-title {
        padding: 8px 12px 8px 8px;
        font-size: 16px;
        font-weight: 400;
    }
    &-main {
        margin-left: 20px;
        margin-top: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: #e5e5e5;
        border-radius: 10px;
        max-width: 1090px;
    }
    &-prod {
        margin: 18px 25px 25px 16px;
        max-width: 230px;
        background-color: #E7F0F2;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    &-name {
        font-size: 18px;
        font-weight: 500;
        padding: 12px 0 70px 0;
        text-align: center;
        max-height: 110px;
        color: #000;
    }
    &-img {
        object-fit: cover;
        border-radius: 8px 8px 0px 0px;
    }
    &-bottom {
        border-top: 1px solid #383940;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 12px 18px 15px;
        font-size: 12px;
    }
    &-price {
        color: #000;
        border-radius: 10px;
        border: 1px solid #000;
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
        background-color: #fff;
    }
    &-count {
        color: #000;
        font-size: 13px;
    }
    &-page {
        padding-top: 24px;
    }
}