<div class="wrapper">
    <div class="container">
        <div class="create-contain">
            <form method="POST" action="/courses/store" class="create">
                <h1 class="create-heading">Thêm sản phẩm</h1>
                <label for="Name">Tên sản phẩm</label>
                <input type="text" class="create-name" name="Name">
                <label for="image">Hình ảnh</label>
                <input type="text" class="create-img" name="image">
                <label for="price">Giá tiền</label>
                <input type="text" class="create-price" name="price">
                <label for="condition">Tình trạng</label>
                <input type="text" class="create-condition" name="condition">
                <label for="desc">Chi tiết</label>
                <input type="text" class="create-desc" name="desc">
                <label for="count">Số lượng</label>
                <input type="text" class="create-count" name="count">
                <button type="submit" class="create-submit">Thêm</button>
            </form>
        </div>
    </div>
</div>