{{!-- <div class="wrapper">
    <div class="container">
        <footer class="footer">
            <div class="footer-main">
                <div class="footer-desc">
                    <div class="footer-footer">
                        <ion-icon class="primary header-logo" name="diamond-sharp"></ion-icon>
                        <p class="header-title primary">Mintify</p>
                    </div>
                    <p class="footer-title">Plan and book your perfect trip with
                        expert advice, travel tips destination
                        information from us</p>
                    <p class="footer-pr">
                        ©2020 Thousand Sunny. All rights reserved
                    </p>
                </div>
                <div class="footer-dest">
                    <ul class="footer-list">
                        <li class="footer-item primary ">Destinations</li>
                        <li class="footer-item">Africa</li>
                        <li class="footer-item">Antarctica</li>
                        <li class="footer-item">Asia</li>
                        <li class="footer-item">Europe</li>
                        <li class="footer-item">America</li>
                    </ul>
                </div>
                <div class="footer-dest">
                    <ul class="footer-list">
                        <li class="footer-item primary">Shop</li>
                        <li class="footer-item">Destination Guides</li>
                        <li class="footer-item">Pictorial & Gifts</li>
                        <li class="footer-item">Special Offers</li>
                        <li class="footer-item">Delivery Time</li>
                        <li class="footer-item">FAQs</li>
                    </ul>
                </div>
                <div class="footer-dest">
                    <ul class="footer-list">
                        <li class="footer-item primary">Interests</li>
                        <li class="footer-item">Adventure Travel</li>
                        <li class="footer-item">Art And Culture</li>
                        <li class="footer-item">Wildlife And Nature</li>
                        <li class="footer-item">Family Holidays</li>
                        <li class="footer-item">Food And Drink</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div> --}}
<div class="wrapper">
    <div class="container">
        <div class="footer">
            <ion-icon name="apps" class="footer-icon"></ion-icon>
        </div>
    </div>
</div>