<div class="wrapper">
    <div class="container">
        <div class="create-contain">
            <form method="POST" action="/user/store" class="create">
                <h1 class="create-heading">Tạo tài khoản</h1>
                <label for="name">Tên tài khoản</label>
                <input type="text" class="create-name" name="name">
                <label for="email">Email</label>
                <input type="text" class="create-img" name="email">
                <label for="password">Mật khẩu</label>
                <input type="password" class="create-price" name="password">
                <label for="address">Số nhà</label>
                <input type="text" class="create-condition" name="address">
                <label for="city">Thành phố</label>
                <input type="text" class="create-desc" name="city">
                <label for="district">Quận</label>
                <input type="text" class="create-count" name="district">
                <label for="phone">Số điện thoại</label>
                <input type="text" class="create-count" name="phone">
                <button type="submit" class="create-submit">Thêm</button>
            </form>
        </div>
    </div>
</div>